h1 {
    font-size: 2em;
}

li {
    font-size: 1.5em;
    list-style-type: none;
    background-color: antiquewhite;
    border: thick double;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }

  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }

  input[type="submit"]:hover {
    background-color: #333;
  }
  
  .wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  .headercontent {
    display: flex;
    flex-direction: row;
  }

  .left {
    margin: 1em;
  }

  .right {
    margin: 1em;
    justify-content: center;
  }